name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats
        uses: anuraghazra/github-readme-stats@master
        with:
          username: baync180705
          token: ${{ secrets.GITHUB_TOKEN }}
          output_dir: generated

      - name: Commit stats
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add generated
          git commit -m "update github stats" || exit 0
          git push
